*.d
*.vo
*.vos
*.vok
*.glob
*.aux
*.v.timing
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
/Makefile.conf
/Makefile.coq.conf
/Makefile.coq
*~
gencertif/autom4te.cache
gencertif/aclocal.m4
gencertif/config.log
gencertif/config.status
gencertif/configure
gencertif/Makefile
